* {
  margin: 0;
  padding: 0;
}

body {
  font-style: sans-serif;
}

.navbar {
  /* background: transparent; */
  background-image: linear-gradient(
    to left,
    black,
    black,
    rgb(16, 16, 69),
    #103f72,
    #0e529b
  );
  /* background-color: #00428a; */
  /* border: navy 1px; */
  /* border-style: ridge;    */
}

.navbar-dark .navbar-nav .nav-link {
  color: rgb(255, 255, 255);
  font-weight: 500;
}

.nav-item a {
  color: #fefefe;
  text-decoration: none;
  background-color: transparent;
  font-family: "Unna", serif;
  font-size: 18px;
}

.navbar-nav li {
  padding: 0px 10px;
}

.navbar-nav li:hover {
  background-color: rgb(128, 159, 251);
  /* background-color: rgb(255, 255, 255); */
  border-radius: 30px;
}

.navbar-nav li:hover a {
  color: black;
}

.navbar-nav a:hover {
  color: rgb(12, 12, 12);
}

.navbar-brand img {
  margin-left: 50px;
  height: 40px;
  width: 70px;
}

.navbar-nav button {
  color: rgb(255, 255, 255);
  font-size: 30px;
}

.navbar-nav button:hover {
  background-color: white;
}

.navbar-toggler i {
  color: rgb(159, 91, 91);
}

/*=============================================================*/

.Full-cotain {
  background-image: url(pics/hotel-g0053d4f4b_1920.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.para {
  margin-left: 600px;
}
.BH {
  width: 100%;
  color: white;
  text-decoration: underline;
  font-size: 80px;
  font-weight: 900;
  background-image: linear-gradient(to left, #00428a, white);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-family: "Roboto Slab", serif;
}

.BP {
  width: 100%;
  font-size: 20px;
  color: white;
  background-image: linear-gradient(to left, #00428a, white);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-family: "Roboto Slab", serif;
}

#logohotel {
  border-radius: 20px;
  width: 50px;
}

.hotel-name {
  font-weight: 700;
  font-family: "UnifrakturMaguntia", cursive;
  text-align: center;
}
.AH {
  font-weight: 700;
  font-family: "UnifrakturMaguntia", cursive;
  text-align: center;
}

.AP {
  font-size: large;
  font-weight: 700;
  font-family: "Frank Ruhl Libre", serif;
  text-align: center;
}

.Full-cotain h1 {
  /* animation: slide-left 1s ease-in; */
  animation: slide_right 1s ease-in;
}

@keyframes slide_right {
  0%{
    transform: translateX(900px);
  }
  100%{
    transform: translateX(0px);
  }
  
}
.Full-cotain p {
  animation: slide_right 1s ease-in;
}

@keyframes slide_right {
  0%{
    transform: translateX(900px);
  }
  100%{
    transform: translateX(0px);
  }
}

/*===================corosal===================*/
.carousel-sec .carousel-main {
  background-color: thistle;
  border-radius: 20px;
  box-shadow: 10px 10px 10px 0px gray;
}
.carousel-inner {
  border-radius: 20px;
}
.carousel-data h1 {
  font-weight: 700;
  font-family: "Frank Ruhl Libre", serif;
  text-align: center;
}
.carousel-data p {
  font-weight: 400;
  font-family: "Frank Ruhl Libre", serif;
  text-align: center;
  text-justify: auto;
}

.carousel-icons {
  font-family: "Frank Ruhl Libre", serif;
  color: royalblue;
  text-align: center;
  margin-top: 10px;
}
.caro {
  height: 70%;
  width: 100%;
}

.carousel-main {
  animation: slide_up 1s ease;
}
@keyframes slide_up {
  0% {
    transform: translateY(250px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* ==========================team CS========================== */
.team {
  text-align: center;
  font-family: "UnifrakturMaguntia", cursive;
}
.team h1,
h2 {
  font-weight: 800;
}
.img-contain img {
  height: 17%;
  width: 17%;
  border-radius: 20px;
  transition: width 1s, height 2s;
  /* animation: zoom 3s infinite; */
  transition: 0.5 ease;
}
/* @keyframes zoom {
  50% {
    height: 10%;
    width: 10%;
    opacity: 0.3;
  }
  100% {
    height: 20%;
    width: 20%;
    opacity: 0.6;
  }
} */
.img-contain img:hover {
  height: 20%;
  width: 20%;
  opacity: 0.6;
}
/* ==========================why================================ */
.why-us {
  padding: 60px 0;
  background: #004a99;
}

.why-us .section-header h3,
.why-us .section-header p {
  text-align: center;
  color: white;
}

.why-us .card {
  /* background: #141414; */
  background-image: url(pics/wave1.png);
  background-size: cover;
  background-repeat: no-repeat;
  /* border-color: #d2ff0a; */
  border: none;
  border-radius: 10px;
  margin: 0 15px;
  padding: 15px 0;
  text-align: center;
  color: royalblue;
  transition: 0.3s ease-in-out;
  height: 100%;
  width: 100%;
}

.why-us .card:hover {
  transition: 0.3s ease-in-out;
  background-image: linear-gradient(to left, white, white);
  /* background-color: white; */
  background-size: cover;
  background-repeat: no-repeat;
  /* border-color: #d2ff0a; */
  border: none;
}

.why-us .card h5 {
  font-size: 22px;
  font-weight: 600;
}

.why-us .card p {
  font-size: 15px;
  color: #d8eafe;
}

/* ==========================Footer CS========================== */

.footer {
  background-color: #00428a;
  color: white;
  font-family: "Frank Ruhl Libre", serif;
}
.footer h4 {
  font-family: "Roboto Slab", serif;
}
.footer-links ul {
  list-style: none;
  line-height: 230%;
}
.footer-links i {
  font-size: x-large;
  color: white;
  background-color: #00428a;
}
.ft-links {
  text-align: center;
  color: white;
}
.ft-links span {
  color: white;
}
.copyright {
  background-color: #004a99;
  color: white;
  text-align: center;
  font-family: "Frank Ruhl Libre", serif;
}

/* ==============================luxury================================== */

.luxury {
  border-radius: 30px;
  /* background-color: thistle; */
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Russo One", sans-serif;
}
.luxury h1 {
  font-size: 350%;
  font-weight: 700;
  color: #003b7a;
  /* cursor: pointer; */
  animation: typewriter 3s steps(60), blinktext 0.5s infinite;
  animation-iteration-count: infinite;
  white-space: nowrap;
  overflow: hidden;
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 450px;
  }
}
@keyframes blinktext {
  from {
    border-right-color: #003b7a;
  }
  to {
    border-right-color: transparent;
  }
}

.luxury video {
  border-radius: 30px;
  height: 100%;
  width: 100%;
}

/* ===============================gallery======================= */

.container-pics {
  padding-left: 15%;
  padding-right: 15%;
}
.container-pics .picg img {
  border-radius: 70px;
}
.gallery {
  text-align: center;
}
.gallery .data h1,
h2 {
  font-family: "UnifrakturMaguntia", cursive;
  font-weight: 800;
}

.location {
  background-color: #3f2e9b;
  padding: 2%;
}
.loc-con {
  font-family: "Frank Ruhl Libre", serif;
  font-weight: 600;
  padding: 3%;
  border-radius: 10%;
  background-color: #004a99;
}

#team{
  /* margin-top: 10px; */
  font-family: Arial, Helvetica, sans-serif;
}